{% extends 'CaramiaAdminBundle::standard_layout.html.twig' %}

{% form_theme form "bootstrap_3_layout.html.twig" %}

{% block sonata_header %}{% endblock %}

{% block title 'Request password' %}

{% block body_attributes %}class="sonata-bc skin-black fixed admin-login"{% endblock %}

{% block sonata_wrapper %}

    {% block main %}
        <div class="well login-form">
            {% include 'CaramiaAdminBundle:user:flash.html.twig' %}
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <fieldset>
                    <legend>{{ 'request_password.title'|trans({}, 'Admin') }}</legend>
                    <div class="form-group">
                        {{ form_row(form.identifier) }}
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_widget(form.submit) }}
                </fieldset>
            {{ form_end(form) }}
        </div>
    {% endblock %}
{% endblock %}
